<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{error_msg}}</p>
        </div>
        <div class="footer-main">
            {{>footer}}
        </div>
    </body>
</html>